%table.table
  %thead.thead-dark
    %tr
      %th{scope: 'col'} #
      %th{scope: 'col'} Username
      %th{scope: 'col'} Style
      %th{scope: 'col'} Date
      %th{scope: 'col'} Belayer
  %tbody
    - ascents.each.with_index(1) do |ascent, i|
      %tr
        %th{scope: 'row'}= i
        %td= ascent.user.name + ' ' + ascent.user.surname
        %td= ascent.style.upcase
        %td= ascent.date
        %td= ascent.belayer
