%table.table
  %thead.thead-dark
    %tr
      %th{scope: 'col'} #
      %th{scope: 'col'} Name
      %th{scope: 'col'} Grade
      %th{scope: 'col'} Crag
      %th{scope: 'col'} Kind
  %tbody
    - lines.each.with_index(1) do |line, i|
      %tr
        %th{scope: 'row'}= rows_count + i
        %td= line.name
        %td= line.grade
        %td= line.crag
        %td= line.kind
