<div class='row'>
  <div class='col-sm-2'></div>
  <div class='col-sm-10 text-center'>
    <h2>Results <%= "(#{@users.count})" if @users %></h2>
  </div>
</div>
<div class='row'>
  <div class="col-sm-2">
    <%= simple_form_for :search, { url: search_path } do |f| %>
      <%= f.input :city_zip, label: 'City / Zip', required: false %>
      <%= f.input :distance, collection: ['10', '30', '50', '100'],
                  label: "Distance (in km)", required: false %>
      <%= f.input :grade, required: false %>
      <div class='form-group'>
        <%= f.collection_radio_buttons :style,
          [['os', 'OS'] ,['rp', 'RP']], :first, :last %>
      </div>
      <%= f.collection_radio_buttons :sex,
        [['male', 'Male'] ,['female', 'Female']], :first, :last %>
      <%= f.button :submit, "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-sm-10 text-center"><br />
    <% if @users %>
      <table class='table table-condensed table-hover'>
        <tbody>
          <% @users.each.with_index(1) do |user, i| %>
            <tr class='clickable' data-href="<%= user_path(user.id) %>">
              <td><%= "#{user.name} #{user.surname}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    <% end %>
  </div>
</div>
